.jumbotron {
    background-color: #e6f2ff;
    color: #001a33;
}


.col-md-6 {
    width: 100%;
    margin: auto;
    text-align: center;
}


.btn-default {
  color: #001a33;
  background-color: #ffffff;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #e6f2ff;
  background-color: #001a33;
}

h2 {
    font-size: 40px;
    text-align: center;
}